/* * {
    border: 1px solid red;
} */

header {
    
}

.column-1,
.column-2 {
  width: 45%;
  margin: 0 10px;
  float: left;
}

.column-1 {
    background-color: #CCFFCC;
}

.column-2 {
    background-color: #9EF48F;
}

footer {
    border: 2px solid red;
    clear: both;
}